* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url(../images/background-black.png)!important;
    border: none;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/* Add a gray right border to all list items, except the last item (last-child) */
li.menu {
    border-right: 1px solid #bbb;
}

li.menu:last-child {
    border-right: none;
}

/*----login & register form---- */

.my-form-login {
        box-sizing: content-box;
        margin-top: 100px;
        margin-left: 700px;
        margin-right: 700px;
        border: 1px solid #ccc;

        border-radius: 25px 25px 25px 25px;
        background-color: #ffffff;
}

/* Full-width inputs */
.my-form-login input[type=text], .my-form-login input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  box-sizing: border-box;
}

.my-form-login input[type=text]:focus, .my-form-login input[type=password]:focus, .my-form-login input[type=email]:focus {
      background-color: #ddd;
      outline: none;
}

/* Set a style for all buttons */
.button-form-login {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.button-form-login:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn-log {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  border-radius: 50%;
  width: 35%; /* Ширина изображений */
  height: 35%; /* Высота изображении */
  object-fit: cover; /* Вписываем фотографию в область */
}

/* Add padding to containers */
.container {
  padding: 16px;
  border-radius: 0 0 25px 25px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}





.my-form-register {
        box-sizing: content-box;
        margin-top: 60px;
        margin-left: 650px;
        margin-right: 650px;
        background-color: #ffffff;
        border:1px solid #ccc;
        border-radius: 25px 25px 25px 25px;
}

.my-form-register input[type=text], .my-form-register input[type=password], .my-form-register input[type=email]{
      width: 94%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
}

.my-form-register input[type=text]:focus, .my-form-register input[type=password]:focus, .my-form-register input[type=email]:focus {
      background-color: #ddd;
      outline: none;
}

.hr-register {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }

.hr-add {
    margin-top: 0.1px;
    margin-bottom: 0.1px;
    border-style: none;

}

.button-register {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.button-register:hover {
  opacity:1;
}

.cancelbtn-reg {
      padding: 14px 20px;
      background-color: #f44336;
}

.cancelbtn-reg, .signupbtn-reg {
      float: left;
      width: 49%;
}
.signupbtn-reg {
    margin-left: 2%;
}

.clearfix::after {
      content: "";
      clear: both;
      display: table;
    }


.bar {
      margin: 10px;
      color: #333;
      background: #fafafa;
      border: 1px solid #ccc;
}

.error {
      color: #ba3939;
      background: #ffe0e0;
      border: 1px solid #a33a3a;
}

.task-textarea{
    resize: none;
}

#form-addtask {
    margin-top: 60px !important;
    margin-left: 650px !important;
    margin-right: 650px !important;
    border: 1px solid #ccc;
    border-radius: 25px 25px 25px 25px;
    background-color: #ffffff;
}

/*-----------------------------------*/


.w3-container {
    box-sizing: content-box;
    padding:0.01em 16px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.w3-container:after, .w3-container:before {
    content:"";
    display:table;
    clear:both
}

.w3-input{
    padding:8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 98%;
    border:1px solid #ccc!important;
}

w3-check {
    {width: 24px;
    height: 24px;
    position: relative;
    top: 6px}
}

.addtask-textarea {
    width: 100%;
    height: 100px;
    resize: none;
}


/*-----------------------------------*/

.home-page {
    box-sizing: content-box;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    border: 1px solid #ccc;
    border-radius: 25px 25px 25px 25px;
    background-color: #ffffff;
}

.img-home {
   text-align: center;
   margin: 24px 0 12px 0;
}

.avatar-home {
    border-radius: 50%;
    width: 20%; /* Ширина изображений */
    height: 20%; /* Высота изображении */
    object-fit: cover; /* Вписываем фотографию в область */
}

.my-tasks{
    text-align: center
}

.task-section {
    box-sizing: content-box;
    margin-top: 20px;
    margin-left: 500px;
    margin-right: 500px;
    border: 1px solid #ccc;
    border-radius: 25px 25px 25px 25px;
    background-color: #ffffff;
}

.task-title {
    text-align: center
}

.task-content {
    text-align: left;
    margin-left: 10px;
}

.close {
    top: 2px;
    right: 2px;

}

.task-button {
    background-color: #509ed8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    }

.task-button:hover {
  opacity:1;
}

.task-delete-button {
      padding: 14px 20px;
      background-color: #f44336;
}

.task-delete-button, .task-update-button {
      float: left;
      width: 49%;
      margin-button: 0;
}
.task-update-button {
    margin-left: 2%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.fa {
  padding: 20px;
  font-size: 35px!important;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.main-page-text {
    margin: 10px 25px 10px 25px;
}

