{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'tasks/css/styles.css' %}" rel="stylesheet" />
    {% block files %}
    {% endblock files %}
</head>
<body>

    <ul class="menu">
        {% for m in menu %}
            <li class="menu"><a href="{% url m.url_name %}">{{m.title}}</a></li>
        {% endfor %}
        {% if request.user.is_authenticated %}
            <li class="menu"><a href="{% url menu_tools.0.url_name %}">{{menu_tools.0.title}}</a></li>
            <li style="float:right" class="menu"><a class="active" href="{% url 'logout' %}">Выйти</a></li>
        {% else %}
            <li style="float:right" class="menu"><a class="active" href="{% url 'register' %}">Регистрация</a></li>
            <li style="float:right; border-right: 1px solid #bbb;" class="menu"><a class="active" href="{% url 'login' %}">Ввойти</a></li>
        {% endif %}
    </ul>


    {% block content %}
    {% endblock %}

</body>
</html>