{% extends 'tasks/base.html' %}

{% load static %}

{% block files %}
<script>
    function myFunction(id) {
      var myobj = document.getElementById(id);
      myobj.remove();
    }
</script>
{% endblock %}

{% block content %}

<section>
    <div class="home-page">
        <div class="img-home">
            <img src="{% static 'tasks/images/img_avatar.png' %}" alt="Avatar" class="avatar-home">
            <h1 class="task-title">{{ username }}</h1>
        </div>
    </div>
</section>
<section>
    <div class="home-page">
        <h1 class="my-tasks">Мои задания</h1>
    </div>
</section>


{% for task in tasks %}
<section id="item{{task.pk}}">
    <div class="task-section">

        <h1 class="task-title">{{ task.title }}</h1>
        <h2 class="task-content">Описание: {{ task.content }}</h2>
        <h2 class="task-content">Дедлайн: {{ task.deadline }}</h2>
        {% if task.status %}
            <h2 class="task-content">Статус: Выполнено</h2>
        {% else %}
            <h2 class="task-content">Статус: Не выполнено</h2>
        {% endif %}
        <p>
        <div class="clearfix">
            <form action="{% url 'delete_view' pk=task.pk %}" method="POST">
              {% csrf_token %}
                <input class="task-button task-delete-button" type="submit" value="Удалить"/>
            </form>
                <button type="button" class="task-button task-update-button" onclick="document.location='task/{{task.slug}}'">Редактировать</button>
        </div>
        </p>
    </div>
</section>
{% endfor %}


{% endblock %}
